# 当前运行环境：
# development = 开发环境
# production = 生产环境
NODE_ENV=production

# 后端服务监听端口
PORT=3000

# MySQL 数据库连接配置
# 如果数据库和后端在同一台服务器，通常填 localhost
# | 地址  | localhost      |
# | 端口  | 3306           |
# | 数据库 | wallpaper      |
# | 用户  | wallpaper_user |
# | 密码  | DbPass@2026    |

DB_HOST=localhost
DB_PORT=3306
DB_NAME=wallpaper
DB_USER=wallpaper_user
DB_PASSWORD=DbPass@2026

# Redis 缓存连接配置
# 当前项目主要用 Redis 做接口缓存
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=RedisPass@2026

# 允许访问接口的 access-key
# 支持配置多个，用英文逗号分隔
ACCESS_KEYS=key123456,key789012