NODE_ENV=production
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=wallpaper
DB_USER=wallpaper_user
DB_PASSWORD=DbPass@2026

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=RedisPass@2026

ACCESS_KEYS=key123456,key789012
